<div class="join-container">
	<main class="join-main">
		<form action="login.handlebars">
			<button class="Userbtn btn">Login</button>
		</form>
		<form action="signup.handlebars">
			<button class="Userbtn btn">Create Account</button>
		</form>
		<form action="chat.handlebars">
			<button type="submit" class="btn hide">Join Chat</button>
		</form>
	</main>
</div>