<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account!</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <div class="join-container">
        <header class="join-header">Login</header>
        <main class="join-main">
            <div>
                <p>Username:</p>
                <input type="username" name="username" id="usernameForm">
                <p>Password:</p>
                <input type="password" name="password" id="passwordForm">
                <button class="btn" onclick="login()">Submit</button>
                <form action="main.handlebars">
                    <button class="btn">Back to Home</button>
                </form>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const login = async () => {
            let username = document.getElementById("usernameForm").value;
            let password = document.getElementById("usernameForm").value;
            console.log(username, password)
            let data = {
                username: username,
                password: password
            }
            $.ajax({
                type: "POST",
                dataType : 'json',   //you may use jsonp for cross origin request
                crossDomain:true,
                contentType: "application/json",
                url: "http://localhost:3001/users/login",
                data: JSON.stringify(data)
            }).then(results => {
                alert(results.message)
            })
        }
    </script>
</body>

</html>