<div class="join-container">
    <p class="p-title">Login</p>
    <main class="join-main">
        <div>
            <form>
                <label>Username</label>
                <input type="username" name="username" id="usernameForm">
                <label>Password</label>
                <input type="password" name="password" id="passwordForm">
                <p class="p-sm">Don't have an account? <a class="hyperlink" href="/signup">Sign Up</a></p>
                <button class="btn" id="submit" type="submit">Submit</button>
            </form>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
<script type="text/javascript">

    $("#submit").on("click", async (event) => {
        // Stop the browser from submitting the form
        event.preventDefault();
        console.log('here')

        // Gather the data from the form elements on the page
        const username = document.querySelector("#usernameForm").value.trim();
        const password = document.querySelector("#passwordForm").value.trim();

        console.log(username, password)

        if (username && password) {
            // Send the e-mail and password to the server
            const response = await fetch("http://localhost:3001/api/users/login", {
                method: "POST",
                body: JSON.stringify({ username, password }),
                headers: { "Content-Type": "application/json" },
            });
            console.log(response)

            if (response.ok) {
                document.location.replace("/chat");
            } else {
                alert("Failed to log in");
            }
        }
    })



</script>